nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rebeccapurple;
    color: aliceblue;
    height: 50px;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
nav ul a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.active{
    background-color: brown;
    padding: 12px 20px;
}
.menuIcon{
    display: none;
}
@media only screen and (max-width:700px) {
 .menuIcon{
    display: inline;
 }
 .menu{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: blueviolet;
    width: 50%;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    display: none;
 }
 .menu li,.menu a{
    width: 100%;
    display: block;
 }
 .show{
    display: flex;
 }
}